* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top {
    display: flex;
    justify-content: right;
    width: 40%;
}

div {
    border: 1px solid blue
}

.profile {
    width: 183px;
    height: 183px;
    background-image: url(https://1.bp.blogspot.com/-cbusaL_T0hM/XPpFG3APT2I/AAAAAAAAQiM/ksOyYs1XP7kcrpuysNzE-L34nWBsPNFYQCLcBGAs/s1600/fox.jpg);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 50px;
    margin-top: 70px;
}

.notify {
    width: 30px;
    height: 30px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.header {
    display: flex;
    justify-content: center;
    font-size: 50px;
    background-color: #f1b04c;
}

.header a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
a:hover {
    color: blue;
}

.bottom {
    display: flex;
    height: 500px;
    border: 3px solid black;
}

.export {
    width: 10.5%;
    height: 100%;
    border: 3px solid black;
}

.user {
    display: flex;
    margin-bottom: 10px;
}

.appearance {
    width: 40%;
}

.yourprofile {
    font-size: 60px;
    display: flex;
    justify-content: center;
    margin: 20px;
}

.current img {
    width: 50px;
}

.current {
    width: 50%;
    display: grid;
}

.current b {
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 25px;
    margin-left: 35px;
}

.info {
    display: flex;
}
.change {
    margin-left: 20px;
}
.change label {
    display: grid;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 25px;
}

.task {
    width: 89.5%;
}

.taskheader {
    font-size: 50px;
    display: flex;
    justify-content: center;
    background-color: #f1b04c;
}